body {
  background-image: url("images/Parchment.jpg");
      background-repeat:no-repeat;
     background-size:cover;
}

p {
  color:black;
  mix-blend-mode: difference;
}

h1 {
   text-align: center;
    color: black;
    mix-blend-mode: difference;
}

h2 {
   padding-left: 125px;
   text-align: left;
    color: black;
    mix-blend-mode: difference;
}

.inline {
   padding-left: 125px;
   padding-right: 125px;
    color: black;
    mix-blend-mode: difference;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width:70%;
  margin-left:15%;
   margin-right:15%;
}

td {
  width: auto;
  height: 300px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

.crop {
  object-fit: cover;
}

iframe{
  width: 300px;
}

img {
  width: auto;
  height: 100%;
  overflow: hidden;
}
