body {
  background-image: url("images/parchment_backround.jpg");
      background-repeat:no-repeat;
     background-size:cover;

}

p {
  color:black;
  mix-blend-mode: difference;
}

h1 {
    color: black;
    margin-left: 20px;
    mix-blend-mode: difference;
}

img {
  width: 200px;
}
